body {
    margin: 0;
    padding: 0;
}

.Home-background {
    background-image: url('https://images.unsplash.com/photo-1485841890310-6a055c88698a?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-color: #ffffff;
}

.home-container {
    text-align: center;
    padding: 20px;
}

.home-container h1 {
    margin-top: 100px;
    text-align: center;
    color: #477f4b;
    font-size: 70px;
    margin-bottom: 70px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.big-button {
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 480px;
    height: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.small-button {
    margin-top: 2%;
    background-size: cover;
    background-position: center;
    background-color: #d37407;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.big-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1;
    transition: background-color 0.3s;
}

.big-button span {
    position: relative;
    z-index: 3;
}

.big-button:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.big-button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
}
